$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 875px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";

$white: white;
$off-white: #e8e8e8;
$light-grey: #f0f0f0;
$black: black;
