.full-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.navbar {
  position: fixed;
  z-index: 99;
  background-color: black;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.main-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  height: auto;
  width: 100vw;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.split {
  display: flex;
  height: auto;

  &.right {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    min-width: 350px;
    height: auto;
  }

  &.left {
    min-width: 350px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
  }
}

.box {
  border-radius: 15px;
  background-color: #f0f0f0;
  display: flex;
  width: 70%;

  &.description {
    margin-top: 50px;
    padding-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    min-width: 350px;
  }

  &.inputs {
    background-color: white;
    flex-direction: column;
    align-items: center;
    min-width: 350px;
  }
  &.sites {
    padding-top: 20px;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-width: 350px;
  }
}
